#  Predicting the stock market

In [18]:
import pandas as pd
from datetime import datetime
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Goessi/Projects/master/predicting%20stock%20market/sphist.csv')
df.tail()

             Date   Open   High    Low  Close     Volume  Adj Close
16585  1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08
16586  1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16587  1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16588  1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16589  1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66

In [13]:
# conver to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [14]:
# sort on datetime
df = df.sort_values ('Date')

In [15]:
a = df['Date']>datetime(year=2015,month=4,day=1)
df = df.sort_values(by=['Date'],ascending=True)
print(df[:2])

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85

In [16]:
df['day_5'] = 0
df['day_30'] = 0
df['day_365'] = 0
print(df[:2])

            Date   Open   High    Low  Close     Volume  Adj Close  day_5  \
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66      0
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85      0

       day_30  day_365
16589       0        0
16588       0        0

In [19]:
# I found if you use double for loop, it always goes slow to the end of the world :)

df['day_5'] = df['Close'].rolling(5).mean()
df['day_5'] = df['day_5'].shift()
df['day_30'] = df['Close'].rolling(30).mean()
df['day_30'] = df['day_30'].shift()
df['day_365'] = df['Close'].rolling(365).mean()
df['day_365'] = df['day_365'].shift()
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_30,day_365
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,NaN,NaN,NaN
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,NaN,NaN,NaN
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,NaN,NaN,NaN
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,NaN,NaN,NaN
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,NaN,NaN,NaN

In [24]:
# Drop any data that fall before 2013/01/03
df_cl= df[df['Date']> '1951-01-03']
df_cl.head()

,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_30,day_365
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,NaN,NaN,NaN
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,NaN,NaN,NaN
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,NaN,NaN,NaN
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,NaN,NaN,NaN
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,NaN,NaN,NaN

In [25]:
df_cl = df_cl.dropna(axis=0)
df_cl.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
day_5        0
day_30       0
day_365      0
dtype: int64

In [27]:
# Split train and test
train = df_cl[df_cl['Date'] < '2013-01-01']
test = df_cl[df_cl['Date'] >= '2013-01-01']

In [49]:
# Train model

from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

# five day 
model = LinearRegression()
col = df_cl.drop(['Close', 'High', 'Low', 'Open', 'Volume', 'Adj Close', 'Date'], axis = 1)
features = col.columns
target = 'Close'


model.fit(train[features], train[target])
predict = model.predict(test[features])
mae = mean_absolute_error(predict, test[target])
mae

12.599627558522412

In [42]:
features

Index(['day_5', 'day_30', 'day_365'], dtype='object')